mixin input-text(props)
	-const placeholderText = props.placeholderText;

	.input-text&attributes(attributes)
		textarea.input-text__input(name="message", id="message" placeholder=placeholderText)
		label.input-text__label(for="message")!=props.text 
