.input-mail {
	$root: &;

	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	&__input {
		color: #111;
		font-family: Arial, sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: -0.3px;
		width: 100%;
		border: 1px solid transparent;
		border-bottom: 1px solid #DEDEDE;
		padding: 12px 20px 12px 0;
		transition: height 0.3s ease,
			background-color 0.3s ease,
			border 0.3s ease,
			border-radius 0.3s ease,
			padding 0.3s ease;

		&::placeholder {
			color: #111;
			font-family: Arial, sans-serif;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%;
			letter-spacing: -0.3px;
		}

		&:disabled {
			background-color: #fff;
			user-select: none;

			&::placeholder {
				color: #BCBCBC;
			}
		}

		&:not(:disabled):hover {
			background-color: #F4F4F4;
			border: 1px solid transparent;
			border-radius: 24px;
			padding: 12px 20px;
		}

		&:not(:disabled):focus-visible,
		&:not(:disabled):active {
			border: 1px solid #0041A0;
			outline: none;
			background-color: #fff;
			border-radius: 24px;
			padding: 12px 20px;

			+#{$root}__label {
				opacity: 1;
			}
		}

		&.valid {
			border: none;
			background-color: #F4F4F4;
			border-radius: 24px;
			padding: 12px 20px;

			~#{$root}__label .input-mail__svg,
			+#{$root}__label {
				opacity: 1;
			}
		}

		&.invalid {
			border: 1px solid #FF0000;
			border-radius: 24px;
			padding: 12px 20px;

			+#{$root}__label {
				opacity: 1;
			}

			~#{$root}__label .input-mail__warning {
				opacity: 1;
			}
		}
	}

	&__label {
		color: #909090;
		font-family: Arial, sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.2px;
		order: -1;
		opacity: 0;
		transition: opacity 0.3s ease;
		margin-left: 20px;
	}

	&__svg {
		position: absolute;
		opacity: 0;
		bottom: 15px;
		right: 20px;
		width: 18px;
		height: 13px;
		transition: opacity 0.3s ease;
	}

	&__warning {
		position: absolute;
		opacity: 0;
		bottom: -20px;
		left: 20px;
		color: #F00;
		font-family: Arial, sans-serif;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.2px;
		transition: opacity 0.3s ease;
	}
}